.main{
    margin-left: 20px;
    z-index: 50;
}
.sidebar{
    height: 500px;
    width: 90px;
    border-radius: 10px;
    font-size: 14px;
}
.toggler{
    cursor: pointer;
    width: 18px;
    height: 18px;
    margin-right: 5px;
}
.toggler1{
    cursor: pointer;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 3px;
}
.cross{
    position: absolute;
    right: 7px;
    top: 2px;
}
@media(max-width: 576px){
    .sidebar{
        position: absolute;
        height: 500px;
        width: 60px;
        border-radius: 10px;
        font-size: 12px;
    }
    .toggler1{
        position: absolute;
        left: -7px;
    }
    .toggler{
        position: absolute;
        left: 3px;
    }
    .cross{
        /* left: 1px; */
        right: 20px;
    }
}
.appear{
    display: block;
    margin-right: 5px;
}
.disappear{
    opacity: 0.5;
    display: none;
}
.small_text{
    font-size: 11px;
    color: #133C59;
    font-weight: 100;
    padding-top: 20px
}
.link{
    font-weight: 600;
    text-decoration: none;
    display: inline-block;
}
.link:hover{
    transition: 0.3s;
    color: #007FEB!important;
}